.record{
    border-bottom: 1px solid #fff;
}
.record__tr{
    width: 100%;
    min-height: 60px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    font-size: 1.2em;
}

.record__amount{
    justify-self: center;
}

.record__more{
    justify-self: end;
    cursor: pointer;
}

.red{
    color: red;
}

.green{
    color: green;
}